/* Place your CSS styles in this file */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
     background-image: url("https://th.bing.com/th/id/R.224b2b418ac1fde4d5f56853841712cc?rik=E3mPfOWnqz%2b4VQ&riu=http%3a%2f%2f3.bp.blogspot.com%2f_SguNTL4p-Vo%2fTUI1OpKZRDI%2fAAAAAAAAABM%2fowJkahQuSok%2fw1200-h630-p-k-no-nu%2fsigmaman.jpg&ehk=bysD56H3fX%2b2R8NpvEeQqRzdjBTywuMJogc%2fl9Pk3rY%3d&risl=&pid=ImgRaw&r=0");


  /* Full height */
  height: 80%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: content;
  background-clip: padding-box;
}
/* style the header */
.header{
    background-color: hsla(240, 100%, 50%, 1);
    padding: 20px;
    text-align: center;
}

/* Style top nav bar */
.topnav{
  
    overflow: hidden;
    background-color: hsla(240, 100%, 50%, 0.5);
       width: 150px;
    }

/* Style topnav links */
.topnav a{
   margin: 0;

    display: block;
    color: #f2f2f2;
    text-align: left;
    padding: 8px 16px;
    text-decoration: none;
}
/* change color on hover */
.topnav a:hover{
background-color: #ddd;
color: blue;
}
h1 {
    text-align: left;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}
h2,p, li{
  color: hsl(0, 0%, 100%);
}
p, li{
  color: hsla(0, 0%, 100%, 0);
}

p:hover, li:hover{
color: black;
font-size: 20px;
background-color: white;
}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
  
}
/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}